/* Navbar */

.navbar{
  position: relative;
  z-index: 1;
}

.navbar-nav{
 margin: 0 20px 0 20px;
}

.navbar-brand{
 font-family: Viga;
 font-size: 30px;
}

/* Jumbotron */
.jumbotron{
 background-image: url(../img/latar.jpg);
 text-align: center;
 background-size: cover;
 height: 592px;    
 position: relative;
}

.jumbotron .container{
 z-index: 1;
 position: relative;
}

.jumbotron::after{
 content:'';
 display: block;
 width: 100%;
 height: 100%;
 background-image: linear-gradient(to top,rgba(0,0,0,1),rgba(0,0,0,0));
 /* background-color: black; */
 position: absolute;
 bottom: 0;
}

.jumbotron .display-4,.lead {
 color: white;
 margin-top: 150px;
 font-weight: 200;
 text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}

.jumbotron .display-4{
 font-size: 40px;
}

.jumbotron .display-4 span{
 font-weight: 500;
}

.jumbotron .lead{
 font-size: 20px;
 margin-top: 150px;
}

/* Workingspace */

.workingspace{
 margin-top: 30px;
 margin-bottom: 50px;
 text-align: center;
}
.workingspace .col-lg-6{
 margin-bottom:50px;
}

.workingspace h3{
 font-size: 52px;
 font-weight: 200;
 text-transform: uppercase;
 margin-top: 30px;
}

.workingspace h3 span{
 font-weight: 500;
}
.workingspace p{
 font-size: 16px;
 margin-top: 20px;
 color: #8a8a8a;
}
/* Content */

.tombol{
 text-transform: uppercase;
 border-radius: 40px;    
}

/* Desktop Version */

@media (min-width: 992px) {
 .nav-link{
     color: white !important;
     text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
     text-transform: uppercase;
     margin-right: 30px;
 }

 .shadowText{
     color: white !important;
     text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
 }

 .nav-link:hover::after{
     content: '';
     display: block;
     border-bottom: 3px solid rgb(154, 3, 255);
     width: 50%;
     margin:auto;
     padding-bottom: 5px;
     margin-bottom: -8px;
 }

 .jumbotron{
     margin-top: -75px;
     height: 692;
 }
 .jumbotron .display-4{
     font-size: 62px;
 }
 .workingspace{
     text-align: left;
 }
}
